/*
font-family: 'Droid Sans', sans-serif;
font-family: 'Cabin', sans-serif;

#202B30
#4E7178
#4FA9B8
#74C0CF
#F1F7E2

#E4F1FE
*/

.project-container {
  height: 40vh;
  margin: 0;
}

.work-h1 {
  background-color: #4E7178;
  color: #E4F1FE;
  font-size: 3em;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  padding: 3vh;
  font-weight: 100;
}

.project-title {
  font-size: 2em;
  text-align: left;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  color: #E4F1FE;

}

.project-content {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
}

.project-image {
  flex-basis: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1vh;
  margin: 1vh;
  margin-top: 2vh;
}

.header-text {
  flex-basis: 60%;
  padding: 1vh;
  margin: 0;
  font-weight: 100;
}

.project-text {
  font-family: 'Cabin', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.25em;
  color:#E4F1FE;
}

/*
NuU styling
*/

.NuU-box {
  background-image: url('../styles/nuu.png');
}

.nu-u-container {
  background: #4E7178;
  margin: 0;
}

.nuU-text {
  color: #E4F1FE;
}

.para-link {
  color: #202B30;
}

.para-link:hover {
  text-decoration: underline;
}

/*
NotFlix Styling
*/

.notflix-box {
  background-image: url('../styles/notflix.png');
}

.notflix-container {
  background-color:#202B30;
  padding-top: 5vh;
}

.notflix-text-content {
  padding-top: 3vh;
  color: #E4F1FE;
  font-weight: 100;
}

/*
Button Styling
*/
.project-button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  padding: 10px;
}

.live-btn, .github-btn, button {
  margin-top: 10px;
  border: none;
}

button {
  box-shadow: 5px 5px 10px black;
  font-size: 1.5em;
  background-color: #74C0CF;
}

button:active {
  box-shadow: none;
}

button:hover {
  background-color: #4FA9B8;
  color: white;
}
